name: Code check

on:
  push: null
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      go: ${{steps.changes.outputs.go}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            go:
              - ./**/*.go
              - go.mod
              - go.sum
  check-format:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
      - run: devbox run check:fmt
  check-go:
    needs: path-filter
    if: needs.path-filter.outputs.go == 'true'
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '>=1.25.2'
      - run: go vet ./...
      - run: go test ./...
  status-check:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    needs:
      - check-format
      - check-go
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
